---
http_interactions:
- request:
    method: get
    uri: https://app.fmexdirect.com/api/v1/content?accessKey=FMEX-TEST-KEY&content_id=2037
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ' {"content_id":"2037","content_title":"Gold, What is it Good For?","content_description":"Given
        the recent volatility in gold, I think it\u2019s a good time to raise the
        title question. Why? Because I, for one, have often wondered about the answer.
        The answer may not be absolutely nothing, as in the Edwin Starr song, but
        it is a lot less than you might think. The yellow metal has reacted meaningfully
        during only two incidents in the 44 years since Nixon closed the gold window
        on August 15, 1971: the 1970s inflation\/oil crisis and the 2000s rise of
        China\/financial crisis\/debt deflation.","content_file_types":{"docx":"https:\/\/app.fmexdirect.com\/Download\/mDAD3\/docx\/Gold%2C+What+is+it+Good+For%3F.docx","html":"https:\/\/app.fmexdirect.com\/Download\/mDAD3\/html\/Gold%2C+What+is+it+Good+For%3F.html","jpg":"https:\/\/app.fmexdirect.com\/Download\/mDAD3\/jpg\/Gold%2C+What+is+it+Good+For%3F.jpg","pdf":"https:\/\/app.fmexdirect.com\/Download\/mDAD3\/pdf\/Gold%2C+What+is+it+Good+For%3F.pdf"},"content_url":null,"content_word_count":"632","content_category_id":"16","content_date_updated":"2015-11-05
        16:57:00","content_publisher":{"publisher_id":"5","publisher_name":"RSW Publishing","publisher_url":"http:\/\/www.rswadvertising.com","publisher_image":"https:\/\/d3ce4muptcumk4.cloudfront.net\/images\/firm\/4b8fe14d6e3e258e0d318accc64db59f1447699224.png"},"content_author":{"author_id":"1","author_name":"Richard
        A Gluck","author_url":"https:\/\/globalinvestmentstrategy.wordpress.com\/","author_description":"<p>Richard
        Gluck is an accomplished global investment professional with proven track
        records in strategy, portfolio management and client engagement.  As the Chief
        Fixed Income Strategist for a large private bank, he was a voting member of
        the Global Investment Strategy Committee, helping set strategic and tactical
        asset allocation across all asset classes. Richard has successfully managed
        multi sector bond funds across multiple market cycles. <\/p>\n<p>He ran the
        #2 and #5 mutual funds of all mutual funds in Canada in 2008, the worst year
        of the financial crisis.  Richard ran the #1 Short World Income Fund according
        to Lipper, in 1993.  He has also run US investment grade corporate bond and
        global high yield bond funds.  Richard began his career as an Assistant Economist
        in the International Research Department of the Federal Reserve Bank of New
        York.\n<p>He holds a MS in finance from the MIT Sloan School of Management
        and a BA in economics, magna cum laude, from SUNY at Buffalo.<\/p>","author_image":"https:\/\/d3ce4muptcumk4.cloudfront.net\/images\/author\/349592f29995a32ad955f8f76b0420831457650381.jpg","author_facebook":null,"author_linkedin":"https:\/\/www.linkedin.com\/in\/ragluck","author_twitter":null,"author_website":"https:\/\/globalinvestmentstrategy.wordpress.com\/","author_profile":"https:\/\/app.fmexdirect.com\/6mLyp\/Contributor\/Richard+A+Gluck"},"content_section_id":"1","content_type":"document","content_update_reason":"New","content_section":{"section_id":"1","section_title":"Articles","section_image":"https:\/\/d3ce4muptcumk4.cloudfront.net\/images\/sections\/934002f6e4853157c6e351844dab71b21444916429.jpg","section_term":"Categories","section_categories":[{"category_id":"1","category_title":"Business
        Benefit Planning","category_image":"https:\/\/d3ce4muptcumk4.cloudfront.net\/images\/categories\/7465a619493504e736cfe9893fe9712b1445007254.jpg","category_description":"<p>If
        your client owns a business or is starting a new job, chances are they have
        questions about different benefits plans. Help them navigate their options
        with articles that discuss 401(k)s, deferred compensation plans, IRAs, ESOPs,
        SEPs and more. Then watch as you become their trusted advisor.<\/p>","category_header_image":"https:\/\/cdn.fmexdirect.com\/images\/categories\/405fa55356937e4f4cfb3162681e83b11504805826.jpg"},{"category_id":"2","category_title":"Business
        Owners","category_image":"https:\/\/d3ce4muptcumk4.cloudfront.net\/images\/categories\/4d11f193df76a607813d779f93578dfd1445007252.jpg","category_description":"Business
        owners face challenges that most people don\u2019t think about, especially
        when either starting or exiting a business. Share tips on topics like being
        you[...]
[...]
