---
http_interactions:
- request:
    method: get
    uri: https://centsai.com/api/centsai-api.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpdXNlckB2ZXN0b3JseS5jb206VmVzdG9ybHlAQ2VudFNhaUFQSSE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"posts":[{"post_id":80472,"post_template":"infographics","post_title":"[INFOGRAPHIC]
        How Do You Plan to Fund Your Retirement?","post_content":"<!DOCTYPE html PUBLIC
        \"-\/\/W3C\/\/DTD HTML 4.0 Transitional\/\/EN\" \"http:\/\/www.w3.org\/TR\/REC-html40\/loose.dtd\">\n<?xml
        encoding=\"utf-8\" ?><html><body><p><img loading=\"lazy\" class=\"aligncenter
        wp-image-80478 size-full\" src=\"https:\/\/centsai.com\/wp-content\/uploads\/2021\/04\/Retirement_Sources_of_income_Infographic_A.2.png\"
        alt=\"Retirement Sources of income Infographic A.1 | retirement statistics\"
        width=\"767\" height=\"1200\" srcset=\"https:\/\/centsai.com\/wp-content\/uploads\/2021\/04\/Retirement_Sources_of_income_Infographic_A.2.png
        767w, https:\/\/centsai.com\/wp-content\/uploads\/2021\/04\/Retirement_Sources_of_income_Infographic_A.2.png
        370w, https:\/\/centsai.com\/wp-content\/uploads\/2021\/04\/Retirement_Sources_of_income_Infographic_A.2.png
        355w\" sizes=\"(max-width: 767px) 100vw, 767px\"><\/p><\/body><\/html>\n","post_image":null,"post_url":null,"canonical_url":"https:\/\/centsai.com\/infographic\/retirement-statistics-planning-infographic\/","post_date":null,"six_second_take":null,"author_id":null,"author_name":null,"author_url":null,"author_image":null,"category_id":null,"category_name":null,"category_link":null,"sponsored_content":null,"sponsored_image":null,"sponsored_url":null,"video_url":"","podcast_url":"","featured_partner":null,"featured_partner_url":null,"featured_part_desc":null,"featured_part_img":null},{"post_id":80426,"post_template":"sheventure_podcast","post_title":"Listen:
        From Banker to FinLit Game(r) With Ashley Clark","post_content":"<!DOCTYPE
        html PUBLIC \"-\/\/W3C\/\/DTD HTML 4.0 Transitional\/\/EN\" \"http:\/\/www.w3.org\/TR\/REC-html40\/loose.dtd\">\n<?xml
        encoding=\"utf-8\" ?><html><body><p style=\"text-align: center;\"><img loading=\"lazy\"
        class=\"alignnone size-full wp-image-1313\" src=\"https:\/\/sheventures.centsai.com\/wp-content\/uploads\/2021\/04\/IMG_8987PNG.jpg\"
        alt=\"financial literacy games ashley clark\" width=\"443\" height=\"248\"><\/p>\n<p><iframe
        loading=\"lazy\" style=\"border: none;\" src=\"\/\/html5-player.libsyn.com\/embed\/episode\/id\/18366377\/height\/90\/theme\/custom\/thumbnail\/yes\/direction\/backward\/render-playlist\/no\/custom-color\/39008a\/\"
        width=\"100%\" height=\"90\" scrolling=\"no\" allowfullscreen=\"allowfullscreen\"><\/iframe><\/p>\n<p><span
        style=\"font-weight: 400;\">Sometimes, the best business ideas are right in
        front of you. That was the case for Ashley Clark, who pivoted from being a
        banker to an entrepreneur and creator of old-school board games and flashcards
        that teach financial literacy &mdash; going against the current trend of online
        gaming with six-figure success during a pandemic.<\/span><\/p>\n<p><span style=\"font-weight:
        400;\">A decade as a banker underscored that too many people didn&rsquo;t
        understand their own finances. Clark began to write down common customer questions
        &mdash; using this as her initial &ldquo;market research.&rdquo; Next was
        her tough focus group: her children. Her passion for teaching people about
        money flourished, and today Clark is CEO and founder of <\/span>Sense 2 Cents<span
        style=\"font-weight: 400;\">, a financial [...]
