---
http_interactions:
- request:
    method: get
    uri: https://centsai.com/api/centsai-api.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpdXNlckB2ZXN0b3JseS5jb206VmVzdG9ybHlAQ2VudFNhaUFQSSE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"posts":[{"post_id":4216,"post_template":"default","post_title":"Soylent
        Diet: The Ups and Downs","post_content":"<!DOCTYPE html PUBLIC \"-\/\/W3C\/\/DTD
        HTML 4.0 Transitional\/\/EN\" \"http:\/\/www.w3.org\/TR\/REC-html40\/loose.dtd\">\n<?xml
        encoding=\"utf-8\" ?><html><body><p>Instead of trying to save money on groceries,
        I decided to do away with them altogether. Am I joking? Technically, no. I
        <em>did<\/em> stop eating and stop buying groceries. How? The Soylent diet.<\/p>\n<p>Soylent
        is a meal replacement beverage. It was created by a computer scientist, not
        a chef, and it&rsquo;s engineered to give your body everything you need to
        function well. This means somebody can live entirely off this drink alone,
        and &mdash; in theory &mdash; should still lead a perfectly normal life.<\/p>\n<p>Changing
        your lifestyle to this extent isn&rsquo;t as abnormal as you may think. In
        the United States, the meal replacement market is worth a shocking $4.1 billion,
        according to IBISWorld.<\/p>\n<p><\/p>\n<h2><strong>Time Is Money<\/strong><\/h2>\n<p>The
        Soylent diet caught my attention for many reasons. The first actually wasn&rsquo;t
        about money &mdash; it was about time.<\/p>\n<p>You may think I&rsquo;m being
        stingy with my time, but I&rsquo;m young. Think of all the time I would save
        by not having to cook. That would effectively add months to my life! I also
        wouldn&rsquo;t have to grocery shop very often (never, really). Soylent can
        be delivered to my door.<\/p>\n<p>The second reason I found it so appealing
        was for health reasons. Stay with me, because I&rsquo;m about to get pretty
        holistic about life.<\/p>\n<blockquote><p><strong><em>I love automation. Automation
        means you can set something good in motion and have it run without you.<\/em><\/strong><\/p><\/blockquote>\n<p>This
        means you can do awesome things without constant motivation. Think automatic
        bill pay or 401(k) contributions.<\/p>\n<p>Without Soylent, I&rsquo;m constantly
        having to make healthy eating decisions. I eat at least three meals per day.
        That means I&rsquo;m having to consciously make healthy choices three-plus
        times per day, so I sometimes don&rsquo;t eat as healthy as I should. With
        Soylent, I can be healthy without having to worry about the ingredients.<\/p>\n<p>Of
        course, I wouldn&rsquo;t replace <em>all<\/em> my meals with Soylent. But
        many of my boring meals would get replaced.<\/p>\n<h2><strong>Vacation Meals
        on a Budget<\/strong><\/h2>\n<p>The final reason Soylent caught my eye is
        the cost. Prices vary based on the amount and whether it&rsquo;s in bottled
        or powder form for you to mix, but it&rsquo;s around $3 per bottle, or $3
        per meal.<\/p>\n<p>Though that&rsquo;s more expensive than most home-cooked
        meals, it saves a lot of money when traveling or just being out and about.
        Instead of needing to buy a meal, you can just pull a bottle out of your backpack
        or purse, and crack it open.<\/p>\n<p><span class=\"aff-cta\"><label>Save
        Time and Eat Better With Personalized Recipes and Grocery Lists <\/label>
        Visit Site<\/span><\/p>\n<div class=\"chck-lst-box small-box\">\r\n\t\t\t<div
        class=\"chck-lst-head\"><span>Food Hacks That Save Our Readers Time and Money<\/span><\/div>\r\n            <div
        class=\"chck-lst-body\"><ul><li><strong>Chris<\/strong>: &ldquo;Purple Carrot
        delivers a box with three vegan meals to prepare a week. The best part is
        that it comes with a little cookbook each time. I just buy the ingredients
        later on if I want to make a recipe again. It got me out of a rut of making
        me the same stuff&hellip;&rdquo;<\/li>\n<li><strong>Stuart<\/strong>: &ldquo;I
        make my own chicken broth from store-bought rotisserie chickens. I hate using
        fresh onion, carrot or c[...]
